// Font-Family //

$_sans_serif: 'sans-serif';
$_montserrat: 'Montserrat';

// color

$_header_border: rgba(90, 99, 117);
$_main_color: rgb(183, 241, 186);
$_list_bg: rgba(255, 255, 255, 0.5);
$_todo_title_bg: rgba(91, 57, 131, 0.8);
$_todo_progress_bg: rgba(101, 102, 27, 0.8);
$_todo_done_bg: rgba(55, 99, 19, 0.8);
$_todo_item_bg: rgba(91, 57, 131, 0.5);
$_todo_progress_item_bg: rgba(101, 102, 27, 0.5);
$_todo_done_item_bg: rgba(55, 99, 19, 0.5);
